*{
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-weight: 10;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{

    padding-left: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


.list{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    list-style: none;
}

li{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    min-height: 2em;

}

.knapp{
    background-color: rgb(160, 233, 160);
    border: 0px;
    border-radius: 50%;
    padding: 0px 5px 0px 5px;
    font-size: 25px;
    cursor: pointer;
}

#textRuta{
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    margin-right: 10px;
}


.checkruta{
    transform: scale(2); 
    margin-right: 15px;
    margin-left: -15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
}
span{
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    margin-right: 100px;
}
.erase{
    transform: scale(0.8);
    cursor: pointer;
    border: none;
    background-color: rgb(182, 219, 182);
}

.erase:hover{
 background-color: rgb(95, 121, 95);
}